@layer reset, base, tokens, components, utilities, overrides;

@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

html {
  scroll-behavior: smooth;
}
/* Typography  */
@layer base {
  body {
    font-family: var(--font-family-body);
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("./assets/bg.webp") no-repeat center fixed;
    background-size: cover;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    color: var(--clr-light-a0);
  }

  header {
    position: sticky;
    top: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
  }

  main {
    display: flex;
    align-items: center;
    min-height: 80vh;
    position: relative;
  }

  footer {
    color: var(--clr-light-a0);
    padding-block: 1em;
  }
}

/* Theme */
@layer tokens {
  :root {
    /** Base colors */
    --clr-dark-a0: #121212;
    --clr-light-a0: #ffffff;
    --clr-green: #3ac90f;

    /** Theme primary colors */
    --clr-primary-a0: #5d27db;
    --clr-primary-a10: #7541e0;
    --clr-primary-a20: #8a59e5;
    --clr-primary-a30: #9d70e9;
    --clr-primary-a40: #af88ed;
    --clr-primary-a50: #c09ff2;

    /** Theme surface colors */
    --clr-surface-a0: #121212;
    --clr-surface-a10: #282828;
    --clr-surface-a20: #3f3f3f;
    --clr-surface-a30: #575757;
    --clr-surface-a40: #717171;
    --clr-surface-a50: #8b8b8b;

    /** Theme tonal surface colors */
    --clr-surface-tonal-a0: #1b1623;
    --clr-surface-tonal-a10: #302b38;
    --clr-surface-tonal-a20: #47424d;
    --clr-surface-tonal-a30: #5e5a64;
    --clr-surface-tonal-a40: #77737c;
    --clr-surface-tonal-a50: #918d95;

    /* Font Style */
    --font-family-body: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    --font-family-text: ink free;
    --font-weight-l: 400;
    --font-weight-md: 600;
    --font-weight-h: 700;

    /* Font size  */
    --font-size-ssm: clamp(1rem, 3vw, 1.1rem);
    --font-size-sm: clamp(1.1rem, 4vw, 1.2rem);
    --font-size-md: clamp(1.3rem, 3vw, 2rem);
    --font-size-lg: clamp(2rem, 6vw, 2.8rem);
    --font-size-xl: clamp(3.5rem, 10vw, 4.8rem);
  }
}

/* Components */
@layer components {
  /* Global Styles */
  .overlay,
  .overlay2 {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }

  .h2 {
    position: relative;
    color: var(--clr-green);
  }

  .h2:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 4px;
    background-color: var(--clr-light-a0);
    display: block;
    left: 0;
    border-radius: 10px;
  }

  .active {
    color: var(--clr-green);
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .img {
    height: auto;
    width: 70px;
  }

  .title {
    font-size: var(--font-size-lg);
    text-align: center;
    font-weight: var(--font-weight-h);
    padding-bottom: 1em;
    color: var(--clr-light-a0);
  }

  .name,
  .felix {
    font-weight: var(--font-weight-h);
  }

  .felix {
    color: var(--clr-green);
  }

  /* Wrapper Style */
  .wrapper {
    width: min(1000px, 80%);
    margin-inline: auto;
  }

  /* Wrapper Nav */
  .wrapper-nav {
    width: min(1200px, 80%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;
  }

  /* Wrapper Education */
  .wrapper-educ {
    min-height: 70vh;
  }

  /* Wrapper Project */
  .wrapper-project {
    min-height: auto;
  }

  .wrapper-educ {
    background-color: rgba(255, 255, 255, 0.24);
  }

  .wrapper-educ,
  .wrapper-skills,
  .wrapper-project,
  footer {
    padding-block: 2em;
  }

  /* Navigation */
  nav {
    position: relative;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  nav a {
    text-decoration: none;
    color: lightgray;
    font-weight: var(--font-weight-md);
    font-size: var(--font-size-sm);
  }

  nav a:hover {
    color: var(--clr-green);
  }

  .logo {
    font-weight: var(--font-weight-h);
    font-size: var(--font-size-sm);
    font-family: var(--font-family-text);
  }

  .logo h3 {
    color: var(--clr-light-a0);
  }

  .logo h3 span {
    color: var(--clr-green);
  }

  .icon {
    display: none;
  }

  @media (max-width: 600px) {
    .active {
      background-color: black;
    }
    nav ul.show {
      right: 0;
    }

    .overlay.show {
      display: block;
    }

    nav ul {
      flex-flow: column nowrap;
      background-color: var(--clr-dark-a0);
      position: fixed;
      right: -100%;
      bottom: 0;
      top: 0;
      padding-block: 1.6rem;
      transition: 0.5s;
    }

    nav li {
      width: 250px;
      padding-inline: 1em;
    }

    nav a {
      background-color: rgba(0, 0, 0, 0.5);
      display: block;
      padding-block: 0.5em;
      padding-left: 0.5em;
      border-radius: 5px;
    }
  }

  /* Hero Section */
  .myname {
    font-size: var(--font-size-md);
    line-height: 0;
  }

  .intro {
    font-weight: var(--font-weight-n);
    font-size: var(--font-size-sm);
  }

  mark {
    padding: 4px;
    font-weight: var(--font-weight-h);
    background-color: green;
    color: var(--clr-light-a0);
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .hero-section h1 {
    font-size: var(--font-size-xl);
    line-height: 1;
  }

  /* Buttons */
  .btn,
  .links,
  .icon,
  .view,
  .source {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: var(--font-size-ssm);
    background-color: transparent;
    text-decoration: none;
    width: fit-content;
  }

  .links {
    color: var(--clr-light-a0);
    background-color: #237e07;
    padding: 0.5em 0.8em;
  }

  .btn {
    font-size: clamp(0.8rem, 3vw, 0.9rem);
    padding: 0.5em 1.4em;
    border: 1px solid var(--clr-light-a0);
    color: var(--clr-light-a0);
    border-radius: 5px;
  }

  .btn:hover {
    background-color: var(--clr-light-a0);
    color: var(--clr-dark-a0);
    transition: 0.2s;
  }

  .links:hover {
    background-color: var(--clr-green);
    color: var(--clr-light-a0);
  }

  .source,
  .view {
    color: var(--clr-light-a0);
    padding: 0.3em 0.5em;
    font-size: var(--font-size-ssm);
    border: 1px solid var(--clr-light-a0);
    border-radius: 5px;
  }

  .source:hover,
  .view:hover {
    background-color: var(--clr-green);
    color: var(--clr-light-a0);
  }

  .github {
    display: flex;
    gap: 1rem;
  }

  @media (max-width: 600px) {
    .icon {
      display: block;
    }
  }

  /* Education */
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(25rem, 100%), 1fr));
    gap: 1.5rem;
  }

  .card {
    display: flex;
    gap: 2rem;
    padding-block: 1em;
    justify-content: space-around;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .card .text {
    display: grid;
    gap: 2rem;
    width: 100%;
  }

  .card .text h2 {
    font-size: var(--font-size-md);
    padding-left: 1em;
    width: 100%;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 50px solid var(--clr-green);
    display: flex;
    align-items: center;
  }

  .card .text p {
    font-size: var(--font-size-ssm);
    color: var(--clr-light-a0);
  }

  .card .icon {
    align-self: center;
  }

  /* Skills & Tools */
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 160px;
    padding: 1em;
    background-color: rgb(5, 17, 24);
    border-radius: 10px;
    box-shadow: 0 0 5px 0 var(--clr-light-a0);
  }

  .box .text {
    font-size: var(--font-size-sm);
    color: var(--clr-light-a0);
  }

  .box:hover {
    transform: scale(1.1);
  }

  /* Project */
  .card-project {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(min(18rem, 100%), 1fr));
  }

  .card-view {
    position: relative;
    box-shadow: 0 0 5px 0 var(--clr-light-a0);
  }

  .card-view,
  .card-view img,
  .card-view .inset,
  .card-view:hover .inset,
  .card-view:hover img {
    border-radius: 10px;
  }

  .card-view img {
    display: block;
    padding: 0.3em;
  }

  .card-view .inset {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: end;
    align-items: end;
    visibility: hidden;
    transition: 0.1s;
    flex-direction: column;
  }

  .card-view .inset .btn {
    margin: 1em;
    cursor: pointer;
  }

  .card-view:hover .inset,
  .card-view:hover img {
    visibility: visible;
    transform: scale(0.95);
  }

  .card-details {
    position: fixed;
    top: 0;
    right: -100%;
    width: min(700px, 100%);
    min-height: 100vh;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1.5em 3em;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
    transition: 0.3s;
    overflow: auto;
  }

  .card-details.details {
    right: 0;
  }

  .overlay2.details {
    display: block;
  }

  .close {
    display: block;
  }

  /* Project Details */
  .text-details {
    width: min(400px, 100%);
    margin-inline: auto;
    display: grid;
    gap: 1rem;
  }

  .text-details h2 {
    font-size: var(--font-size-md);
    color: var(--clr-light-a0);
    line-height: 1;
  }

  .text-details p {
    color: var(--clr-light-a0);
  }

  .text-details .language {
    font-size: var(--font-size-sm);
  }

  .card-img {
    margin-inline: auto;
  }

  .ch1 {
    text-decoration: underline;
    cursor: pointer;
    color: var(--clr-green);
  }

  .lang {
    width: 40px;
  }

  /* Footer */
  .footer {
    display: grid;
    gap: 1rem;
    background-color: #000000;
  }

  .flex {
    display: flex;
    align-items: center;
  }
}

/* Utilities */
@layer utilities {
}
