@layer reset, base, tokens, components, utilities, overrides;

@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

html {
  scroll-behavior: smooth;
}
/* Typography  */
@layer base {
  body {
    font-family: var(--font-family-body);
    position: relative;
    background-color: #18181b;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    color: var(--clr-light-a0);
  }

  header {
    position: sticky;
    top: 0;
    z-index: 9999;
  }

  main {
    min-height: 80vh;
    display: grid;
    place-content: center;

    @media (min-width: 700px) {
      min-height: 70vh;
    }
  }
}

/* Theme */
@layer tokens {
  :root {
    /** Base colors */
    --clr-dark-a0: #121212;
    --clr-light-a0: #ffffff;
    --clr-aqua: #1cbcc7;

    /** Theme primary colors */
    --clr-primary-a0: #5d27db;
    --clr-primary-a10: #7541e0;
    --clr-primary-a20: #8a59e5;
    --clr-primary-a30: #9d70e9;
    --clr-primary-a40: #af88ed;
    --clr-primary-a50: #c09ff2;

    /** Theme surface colors */
    --clr-surface-a0: #121212;
    --clr-surface-a10: #282828;
    --clr-surface-a20: #3f3f3f;
    --clr-surface-a30: #575757;
    --clr-surface-a40: #717171;
    --clr-surface-a50: #8b8b8b;

    /** Theme tonal surface colors */
    --clr-surface-tonal-a0: #1b1623;
    --clr-surface-tonal-a10: #302b38;
    --clr-surface-tonal-a20: #47424d;
    --clr-surface-tonal-a30: #5e5a64;
    --clr-surface-tonal-a40: #77737c;
    --clr-surface-tonal-a50: #918d95;

    /* Font Style */
    --font-family-body: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    --font-family-text: ink free;
    --font-weight-l: 400;
    --font-weight-md: 600;
    --font-weight-h: 700;

    /* Font size  */
    --font-size-ssm: clamp(0.8rem, 3vw, 1rem);
    --font-size-sm: clamp(1rem, 4vw, 1.2rem);
    --font-size-md: clamp(1.5rem, 5vw, 1.6rem);
    --font-size-lg: clamp(2rem, 6vw, 2.8rem);
    --font-size-xl: clamp(2.8rem, 8vw, 3.3rem);
  }
}

/* Components */
@layer components {
  /* Global Styles */
  .overlay,
  .overlay2 {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }

  .active {
    color: var(--clr-aqua);
    border-bottom: 1px solid var(--clr-aqua);
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .img {
    height: auto;
    width: 70px;

    @media (max-width: 600px) {
      width: 50px;
    }
  }

  .title {
    font-size: var(--font-size-lg);
    text-align: center;
    font-weight: var(--font-weight-h);
    padding-bottom: 1em;
    color: var(--clr-light-a0);
  }

  .name,
  .felix {
    font-weight: var(--font-weight-h);
  }

  .felix {
    color: var(--clr-aqua);
  }

  /* Wrapper Style */
  .wrapper {
    width: min(1200px, 80%);
    margin-inline: auto;
  }

  /* Wrapper Nav */
  .wrapper-nav {
    width: min(1200px, 80%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;
  }

  /* Wrapper Project */
  .wrapper-project {
    min-height: auto;
  }

  .wrapper-project,
  .wrapper-skills,
  footer {
    padding-block: 2em;
  }

  /* Navigation */
  nav {
    position: relative;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  nav a {
    text-decoration: none;
    color: lightgray;
    font-weight: var(--font-weight-md);
    font-size: var(--font-size-sm);
  }

  nav a:hover {
    color: var(--clr-aqua);
  }

  .logo {
    font-weight: var(--font-weight-h);
    font-size: var(--font-size-sm);
    font-family: var(--font-family-text);
  }

  .logo h3 {
    color: var(--clr-light-a0);
  }

  .logo h3 span {
    color: var(--clr-aqua);
  }

  .icon {
    display: none;
  }

  @media (max-width: 600px) {
    nav ul.show {
      right: 0;
    }

    .overlay.show {
      display: block;
    }

    nav ul {
      flex-flow: column nowrap;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(1rem);
      position: fixed;
      right: -100%;
      bottom: 0;
      top: 0;
      padding-block: 1.6rem;
      transition: 0.5s;
    }

    nav li {
      width: 300px;
      padding-inline: 2em;
    }

    nav li button {
      margin-bottom: 1.5em;
    }

    nav a {
      display: block;
      padding-block: 0.5em;
      color: var(--clr-light-a0);
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
  }
  /* Hero Section */
  .hero {
    display: inherit;
    align-items: center;
    gap: 1rem;
  }

  .hero-section {
    display: grid;
    gap: 1rem;
  }

  .leks {
    border-radius: 100%;
    width: 80px;
    aspect-ratio: 1 / 1;
  }

  .myname {
    font-size: var(--font-size-sm);
    opacity: 0.8;
  }

  .hero-section h1 {
    font-size: var(--font-size-xl);
  }

  .intro {
    font-size: var(--font-size-sm);
    opacity: 0.7;
    font-weight: 100;
  }

  .cv {
    color: var(--clr-dark-a0);
  }

  @media (min-width: 900px) {
    .hero {
      display: flex;
    }

    .intro-img {
      order: 2;
      display: none;
    }

    .leks {
      border-radius: 0;
      width: 90%;
    }

    .hero-section {
      order: 1;
      width: 70%;
    }
  }

  /* Skills & Tools */
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-inline: auto;

    @media (min-width: 800px) {
      width: 85%;
    }
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 160px;
    padding: 1em;
    @media (max-width: 750px) {
      width: 130px;
    }
  }

  .box .text {
    font-size: var(--font-size-sm);
    color: var(--clr-light-a0);
  }

  .box:hover {
    transform: scale(1.1);
  }

  /* Project */
  .card-project {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  }

  .card-view {
    display: grid;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 0.5em;

    @media (min-width: 700px) {
    }
  }

  .card-view:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(1.01);
  }

  .card-view img {
    width: 650px;
  }

  .inset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1em 1em;

    @media (min-width: 700px) {
      place-content: center;
    }
  }

  .project-title {
    color: var(--clr-light-a0);
    font-size: var(--font-size-sm);
  }

  .number {
    color: var(--clr-aqua);
    font-weight: var(--font-weight-h);
  }

  .card-details {
    position: fixed;
    top: 0;
    right: -100%;
    width: min(700px, 100%);
    min-height: 100vh;
    z-index: 9999;
    background-color: #18181b;
    padding: 1.5em 3em;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
    transition: 0.3s;
    overflow: auto;
  }

  .card-details.details {
    right: 0;
  }

  .overlay2.details {
    display: block;
  }

  .close {
    display: block;
  }

  /* Project Details */
  .text-details {
    width: min(1000px, 100%);
    margin-inline: auto;
    display: grid;
    gap: 1.5rem;
  }

  .text-details h2 {
    font-size: var(--font-size-md);
    color: var(--clr-light-a0);
  }

  .text-details p {
    color: var(--clr-light-a0);
    font-weight: 100;
    font-size: var(--font-size-ssm);
  }

  .text-details .language {
    font-size: var(--font-size-sm);
  }

  .card-img {
    margin-inline: auto;
    width: 600px;
  }

  .ch1 {
    text-decoration: underline;
    cursor: pointer;
    color: var(--clr-aqua);
    font-size: var(--font-size-sm);
  }

  .lang {
    width: 40px;
  }

  /* Footer */
  footer {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    min-height: 50vh;
  }

  .myDetails,
  h5 {
    font-weight: 100;
  }

  .footer-container {
    display: grid;
    gap: 2rem;
  }

  .footer-contact {
    font-weight: 100;
  }

  .contacts {
    display: grid;
    gap: 1rem;
  }

  .contacts > * {
    font-size: var(--font-size-sm);
  }

  .contact {
    display: grid;
    gap: 1rem;
  }

  .contact > p {
    color: var(--clr-aqua);
  }

  .center {
    text-align: center;
    font-size: var(--font-size-sm);
    opacity: 0.8;
  }

  .footer-links {
    color: var(--clr-light-a0);
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .footer-links > a {
    color: var(--clr-aqua);
    font-size: var(--font-size-sm);
  }
}

/* Utilities */
@layer utilities {
  /* Buttons */
  .btn-project,
  .btn,
  .links,
  .icon,
  .view,
  .source {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: var(--font-size-ssm);
    background-color: transparent;
    text-decoration: none;
    width: fit-content;
  }

  .btn {
    font-size: clamp(0.8rem, 3vw, 0.9rem);
    padding: 0.5em 1.4em;
    border: 1px solid var(--clr-aqua);
    color: var(--clr-light-a0);
    border-radius: 5px;
  }

  .btn:hover {
    background-color: var(--clr-aqua);
    color: var(--clr-light-a0);
    transition: 0.2s;
  }

  .btn-project {
    color: var(--clr-aqua);
    font-size: var(--font-size-ssm);
  }

  .links {
    margin-block: 1em;
    color: var(--clr--a0);
    background-color: var(--clr-light-a0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6em;
    gap: 0.3rem;
    font-size: var(--font-size-ssm);
    font-weight: var(--font-weight-md);
  }

  .links:hover,
  .links:hover > svg {
    background-color: var(--clr-aqua);
    color: var(--clr-light-a0);
    fill: var(--clr-light-a0);
  }

  .source,
  .view {
    color: var(--clr-light-a0);
    font-size: var(--font-size-sm);
  }

  .source:hover,
  .view:hover {
    color: var(--clr-aqua);
  }

  .github {
    display: flex;
    gap: 1rem;
  }

  @media (max-width: 600px) {
    .icon {
      display: block;
    }
  }
}
